<ion-view title="Add Client" cache-view="false" id="page5">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button icon No Icon" ng-click="import()" ng-disabled="importing"> Import</button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div id="addClient-markdown6" ng-if="errors.phone" class="error-box">
      <p style="color:#000000;">{{errors.phone}}</p>
    </div>
    <div id="addClient-markdown7" ng-if="errors.name" class="error-box">
      <p style="color:#000000;">{{errors.name}}</p>
    </div>
    <form id="addClient-form3" class="list" novalidate="&quot;&quot;">
      <label class="item item-input" id="addClient-input7">
        <span class="input-label">Name</span>
        <input type="text" placeholder="" ng-model="client.name" required="&quot;true&quot;">
      </label>
      <label class="item item-input" id="addClient-input6">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="" ng-model="client.phone" required="&quot;true&quot;" maxlength="10">
      </label>
      <label class="item item-input" id="addClient-input8">
        <span class="input-label">Zipcode</span>
        <input type="tel" placeholder="" ng-model="client.zipcode" maxlength="5" required="&quot;true&quot;">
      </label>
    </form>
    <button id="addClient-button9" ng-click="add()" ng-disabled="!client.name || !client.phone || !client.zipcode" style="border-radius:4px 4px 4px 4px;" class="button button-dark button-large button-block icon ion-android-add"> Add</button>
    <a ui-sref="menu.clients" id="addClient-button22" style="border-radius:4px 4px 4px 4px;" class="button button-dark button-large button-block button-clear">Cancel</a>
  </ion-content>
</ion-view>