<ion-view title="Pros" cache-view="false" nav-transition="none" id="page13">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-plus" ng-click="goToAddNew()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <ion-list id="pros-list8" show-delete="showDelete">
      <ion-item class="item-avatar" id="pros-list-item16" ui-sref="menu.proProfile({})" collection-repeat="pro in list | orderBy: 'name'" ng-click="view(pro)">
        <img src="img/DJzHUXHhSIdSKV2WrotQ_profile_image.jpg">
        <h2>{{pro.name}}</h2>
        <p style="white-space:normal;">{{pro.phone}}</p>
        <ion-option-button class="button-assertive" ng-click="remove(pro)">Delete</ion-option-button>
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>