<ion-view title="Role Selection" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page8">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <form id="roleSelection-form8" class="list center-form">
            <div class="profile-image">
                <img src="img/q8fI16fiRr6NSk2rmmGn_mr-freshcut.jpg" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h3 id="roleSelection-heading3" style="color:#000000;font-weight:300;text-align:center;">I am a...</h3>
            <label class="item item-select" id="roleSelection-select1">
                <span class="input-label">Select</span>
                <select ng-model="role">
                    <option>Professional</option>
                    <option>Customer</option>
                </select>
            </label>
            <a ui-sref="signup({&quot;role&quot;:&quot;&quot;+role+&quot;&quot;})" id="roleSelection-button14" class="button button-dark  button-block">Continue</a>
        </form>
    </ion-content>
</ion-view>